# Environment (development, staging, production)
ENV=development

# Secret Key for JWT Signing
SECRET_KEY=devsecretkeychangeinkgukfy

# Database Connection URL
DATABASE_URL= someurl_u_shoulghfngfzsz

# JWT Configuration
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS Origins (comma-separated list, e.g., http://localhost:5173,http://https://malina-ikshan.onrender.com:5173)
CORS_ORIGINS=*
