# Environment (development, staging, production)
ENV=development

# Secret Key for JWT Signing
SECRET_KEY=devsecretkeychangeinproduction

# Database Connection URL
DATABASE_URL=postgresql://malina_isika_user:A4K3Jafk34q1fDqSjbEp0QnXOZLA59Mp@dpg-d8pnsg77f7vs73d5sftg-a/malina_isika

# JWT Configuration
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# CORS Origins (comma-separated list, e.g., http://localhost:5173,http://https://malina-ikshan.onrender.com:5173)
CORS_ORIGINS=*
